/*a tabela com max-width 768px recebe
thead - display:none;
tabela, tbody, tr e td - display: block; width 100%;

https://www.youtube.com/watch?v=HKWtJPumb7g&t=69s
*/

.tabela-container {
    background-color: red;
    width: 90%;
}
