

.estatisticas {
    background-color: $branco;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,.15);
    grid-column: 1 / 5;
    width: 100%;

    &__titulo {
        @include color-fontSize($branco-bg, 1.25rem);
        background-color: $cinza-escuro;
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 2.5%;
        margin-bottom: 1.5%;
        text-align: center;
    }

    &__container-legenda {
        @include display-flexDirection(flex, row);
        margin: 0 auto;
        width: 80%;
        
        &___box {
            @include alignItens-justifyContent(center, space-between);
            @include display-flexDirection(flex, column);
            @include height-width(10vh, 50%);
        }
        
        &___mes {
            @include color-fontSize(black, 1.1rem);
            text-align: center;
        }

        &___indicador {
            background-color: $azul-medio-brilhante;
            border-radius: 50%;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,.25);
            @include height-width(50%, 10%);
        }

        &___indicador.verde {
            background-color: $verde-padrao;
        }
    }

    &__container-grafico {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-between);
        margin: 5% 0;
        padding: 3% 0;


        &___box {
            @include display-flexDirection(flex, row);
            width: 5%;
            height: 20vh;
        }

        &___mesAtual {
            background-color: $azul-medio-brilhante;
            border: none;
            border-radius: 8px 8px 0 0;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
            @include height-width(15vh, 45%);
        }

        &___mesAnterior {
            background-color: $verde-padrao;
            border: none;
            border-radius: 8px 8px 0 0;
            box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
            @include height-width(10vh, 45%);
        }

        &___nomeMes {
            margin-right: 7.5%;
            text-align: left;
        }
    }

    &__arrow {
        display: none;
        overflow: hidden;
    }
}