.home-Card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    padding: 2.5% 10%;
    background-color: $branco-bg;
    border-radius: 48px;
    box-shadow: 4px 4px 20px 0 rgba(0,0,0,.25);
    @include height-width(95%, 95%);
    margin: 2.5% auto;
}

.card-cadHoje {
    @include display-flexDirection(flex, column);
    @include alignItens-justifyContent(center, space-between);
    background-color: $branco;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,.15);
    border-radius: 24px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 100%;
    
    &__titulo {
        @include color-fontSize($cinza-claro, 1rem);
        @include height-width(10vh, 100%);
        background-color: $cinza-escuro;
        border-radius: 24px 24px 0 0;
        text-align: center;
        margin-bottom: 7.5%;
        padding: 10% 0;
    }

    &__containerInfo {
        @include display-flexDirection(flex, column);
        width: 100%;
    }

    &__containerData {
        @include display-flexDirection(flex, column);
        padding: 0 5%;
        width: 100%;
        border-bottom: 1px solid $cinza-medio;
    }


    &__data {
        @include color-fontSize($cinza-escuro, .5rem);
        @include fontStyle-fontWeight(italic, lighter);
        font-family: 'Montserrat', sans-serif;
        padding: 5% 0%;
    }

    &__diaSemana {
        @include color-fontSize($cinza-escuro, 1rem);
        @include fontStyle-fontWeight(italic, lighter);
        font-family: 'Montserrat', sans-serif;
        padding: 5% 0% 10%;
    }

    &__containerTotal {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 5% 0;
    }

    &__totalCadastros {
        font-family: 'Lato', sans-serif;
        @include color-fontSize($cinza-escuro, 2rem);
        font-weight: bold;
    }

    &__containerTotal .material-icons{
        font-size: 2rem;
        padding: 0 0;
    }

    &__separador{
        color: $cinza-medio;
        size: 1px;
        width: 100%;
        opacity: .6;
    }

    &__pessoa {
        @include color-fontSize($cinza-escuro, .9rem);
        padding: 2.5% 0;
        margin: 0 7.5%;
    }

    &__botao {
        background: linear-gradient(90deg, rgba(18,18,224,1) 0%, rgba(109,225,149,1) 100%);
        border: none;
        border-radius: 8px;
        box-shadow: 0px 5px 10px 0px rgba(0,0,0,.25);
        margin: 7.5% auto 15%;
        @include height-width(5vh, 70%);

        & a{
            @include color-fontSize($branco-bg, .75rem);
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
    }

}

.card-filaEspera {
    background-color: $amarelo-padrao;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(251, 255, 64,.6);
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    width: 100%;
    @include display-flexDirection(flex, column);

    &__titulo {
        @include color-fontSize($cinza-escuro, 1.5rem);
        background-color: rgba(231, 231, 233, .5);
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 5% 0;
        text-align: center;
    }

    &__box {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, flex-start);
        @include height-width(5vh, 100%);
        margin: 2.5% 0;
        padding: 7.5% 0;
        border-bottom: 1px solid $cinza-medio;
        &:last-of-type{
            border-bottom: none;
            padding: 5%;
        }

        & .material-icons {
            @include color-fontSize($cinza-escuro, 2rem);
            font-weight: 700;
            padding: 0 5%;
        }
    }

    &__quantidade {
        @include color-fontSize($cinza-escuro, 2rem);
        font-weight: 700;
    }

    &__pessoa {
        @include color-fontSize($cinza-escuro, .75rem);
    }
}

.card-atendidos {
    background-color: $verde-padrao;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(109, 225, 149, .6);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    @include display-flexDirection(flex, column);

    &__titulo {
        @include color-fontSize($cinza-escuro, 1.2rem);
        background-color: rgba(231, 231, 233, .5);
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 10% 0;
        text-align: center;
    }

    &__box {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-around);
        margin: auto 0;
        padding: 5% 0;

        & .material-icons {
            @include color-fontSize($cinza-escuro, 1.5rem);
            font-weight: 700;
            padding: 0 0;
        }
    }

    &__valor {
        @include color-fontSize($cinza-escuro, 1.5rem);
        font-weight: 700;
    }
}

.card-naoAtendidos {
    background-color: $vermelho-padrao;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(244, 124, 87, .4);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 100%;
    @include display-flexDirection(flex, column);

    &__titulo {
        @include color-fontSize($cinza-escuro, 1.25rem);
        background-color: rgba(231, 231, 233, .5);
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 10% 0;
        text-align: center;
    }

    &__box {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-around);
        margin: auto 0;
        padding: 5% 0;

        & .material-icons {
            @include color-fontSize($cinza-escuro, 1.5rem);
            font-weight: 700;
            padding: 0 0;
        }
    }

    &__valor {
        @include color-fontSize($cinza-escuro, 1.5rem);
        font-weight: 700;
    }
}

.card-totalAnalisantes {
    background-color: $branco;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,.15);
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    width: 100%;
    @include display-flexDirection(flex, column);

    &__titulo {
        @include color-fontSize($branco, 1.25rem);
        background-color: rgba(18, 18, 224, .7);
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 3.5% 0;
        text-align: center;
    }

    &__box {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-around);
        margin: auto 0;
        padding: 5% 0;
        border-bottom: 1px solid $cinza-medio;

        & .material-icons {
            @include color-fontSize($cinza-escuro, 2rem);
            font-weight: 700;
            padding: 0 0;
        }
    }
    &__box.total {
        @include display-flexDirection(flex, column);
        border-bottom: none;
    }

    &__totalNaoAtendido {
        @include color-fontSize($cinza-escuro, .75rem);
        text-align: center;
        margin: 5% 0;
    }

    &__box-n {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-around);
        width: 100%;
    }

    &__valor {
        @include color-fontSize($cinza-escuro, 2rem);       
        font-weight: 700;
    }
}

.card-turmas {
    background-color: $verde-padrao;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(109, 225, 149, .6);
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    width: 100%;
    @include display-flexDirection(flex, column);

    &__titulo {
        @include color-fontSize($cinza-escuro, 1.5rem);
        background-color: rgba(231, 231, 233, .5);
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 12.5% 0;
        text-align: center;
    }

    &__valor {
        @include color-fontSize($cinza-escuro, 2.75rem);
        align-self: center;
        font-weight: 700;
        margin-top: 7.5%;
    }
}


