@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300&display=swap");
.login-box__titulo, .bloco__label, .bloco__titulo, .alterar-ordem__subtitulo, .alterar-ordem__titulo, .modal-avaliacoes__titulo, .modal-mais-info__titulo, .modalAddNovo__card-add-tel--titleBox, .tabela-header-th, .titulo-bloco-busca {
  font-family: "Fjalla One", sans-serif;
}

.numero-telefone-adicionado, .card-cadHoje__totalCadastros, .link-menu-nav, span {
  font-family: "Lato", sans-serif;
}

.login-box__btn, .login-box__label, .botao-addTelefone, .botao-cadastrar, .bloco__input, .bloco .bloco__selecao, .card-alerta, .tabela__body___tr, .estatisticas, .alterar-ordem, .card-turmas, .card-totalAnalisantes, .card-naoAtendidos, .card-atendidos, .card-filaEspera, .card-cadHoje, .modal-avaliacoes, .modal-mais-info, .modalAddNovo__box-supervisor-anterior___nome, .botao-ok-modal-detalhes, .botao-ver-avaliacoes, .input-bloco-busca, body {
  font-family: "Montserrat", sans-serif;
}

@keyframes exibe-modal {
  from {
    opacity: 0;
    transform: translate3d(0, -80px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Flashing {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.material-icons {
  color: #787887;
  font-size: 0.8rem;
  padding: 0 7.5%;
}
.material-icons.config-icon {
  color: #787887;
  font-size: 2.25rem;
}

.material-icons--config {
  color: #787887;
  font-size: 1.5rem;
  padding: 0;
}

.material-icons.edit {
  color: #6de195;
  font-size: 1.25rem;
}

.material-icons.delete {
  color: #f47c57;
  font-size: 1.25rem;
}

.material-icons.edit, .material-icons.delete, .material-icons.ver-mais:hover {
  cursor: pointer;
}

.material-icons.modadAddNovo-icon {
  color: white;
  font-size: 0.75rem;
}

.material-icons.titulo-modal {
  color: #787887;
  font-size: 1.75rem;
}

.material-icons.arrow-back, .material-icons.arrow-forward {
  color: #787887;
  font-size: 0.75rem;
}
.material-icons.arrow-back:hover, .material-icons.arrow-forward:hover {
  color: #0a0a84;
  font-size: 0.95rem;
}

.material-icons.supervisor {
  color: white;
  font-size: 1rem;
}

.material-icons.ver-mais {
  color: #787887;
  font-size: 1.25rem;
}

.material-icons.phone {
  color: white;
  font-size: 1rem;
}

.material-icons.mouse {
  color: #787887;
  font-size: 1.5rem;
}

.material-icons.arrow-expand {
  color: #1212e0;
  font-size: 2.5rem;
  animation: Flashing 0.8s ease-in alternate infinite;
  padding: 0;
}
.material-icons.arrow-expand:hover {
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: #e7e7e9;
}

.link-menu-nav, span {
  text-decoration: none;
  width: 100%;
  color: #787887;
  font-size: 1rem;
}

.titulo-bloco-busca {
  color: #787887;
  font-size: 1.75rem;
  padding-left: 5%;
}

.input-bloco-busca {
  height: 6.5vh;
  width: 30%;
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  border: none;
  border-radius: 24px;
  padding-left: 2.5%;
  margin: 1.5% 0 0 5%;
}
.input-bloco-busca:focus {
  border: 1px solid #0a0a84;
  outline: none;
}

.output-bloco-busca {
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  height: 4vh;
  width: 10%;
  background-color: white;
  border-radius: 16px;
  margin: 0 5%;
  padding: 0.75%;
  text-align: center;
}

.tabela-header-th {
  padding: 0.25%;
  vertical-align: middle;
}

.tabela-body-td {
  font-size: 0.75rem;
  padding: 0.75%;
  text-align: center;
  border-right: 1px solid #c4c4c4;
  vertical-align: middle;
}
.tabela-body-td:last-of-type {
  border-right: none;
  margin: auto 0;
  text-align: center;
  vertical-align: middle;
}

.linha {
  border-color: #e7e7e9;
  margin: 2% 0;
  opacity: 0.35;
  size: 1px;
  width: 100%;
}

.botao-adicionar-novo {
  color: white;
  font-size: 0.75rem;
  height: 6vh;
  width: 15%;
  background: linear-gradient(90deg, #1212e0 0%, #6de195 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 4px 10px 20px 0 rgba(10, 10, 132, 0.35);
  font-family: "Montserrat", sans-serif;
  margin-left: 10%;
  transition: all 0.3s ease-in-out;
}
.botao-adicionar-novo:hover {
  color: white;
  font-size: 0.95rem;
  height: 6vh;
  width: 17.5%;
  border: 1px solid #0a0a84;
  transition: all 0.3s ease-in-out;
}

.botao-adicionar-novo.btn-alterar-ordem {
  margin-left: 5%;
  width: 20%;
}

.botao-cancelar {
  color: white;
  font-size: 0.75rem;
  height: 6vh;
  width: 15%;
  background: #f47c57;
  border: none;
  border-radius: 24px;
  box-shadow: 4px 10px 20px 0 rgba(244, 124, 87, 0.2);
  font-family: "Montserrat", sans-serif;
  margin-left: 10%;
  transition: all 0.3s ease-in-out;
}
.botao-cancelar:hover {
  color: white;
  font-size: 0.95rem;
  border: 1px solid darkred;
  transition: all 0.3s ease-in-out;
}

.botao-fechar-modal {
  height: 50px;
  width: 50px;
  color: #fafefd;
  font-size: 1rem;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  border: 2px solid #fafefd;
  background-color: #787887;
  box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.45);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.botao-rodape-navegacao {
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 7.5%;
}
.botao-rodape-navegacao:hover {
  cursor: pointer;
}

.botao-salvar {
  height: 8vh;
  width: 100%;
  color: #fafefd;
  font-size: 1.25rem;
  border: none;
  border-radius: 48px;
  background: linear-gradient(90deg, #1212e0 0%, #6de195 100%);
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 10px 20px 0px rgba(18, 18, 224, 0.35);
}

.botao-salvar.config {
  margin-top: 6.5%;
}
.botao-salvar.config:hover {
  color: white;
  font-size: 1.35rem;
  border: 1px solid #0a0a84;
  transition: all 0.3s ease-in-out;
}

.botao-ver-analisantes {
  background: linear-gradient(90deg, #1212e0 0%, #6de195 100%);
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 7.5% auto 15%;
  height: 5vh;
  width: 70%;
}
.botao-ver-analisantes a {
  color: #fafefd;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.botao-ver-avaliacoes {
  color: white;
  font-size: 0.75rem;
  height: 6vh;
  width: 50%;
  background: linear-gradient(90deg, #1212e0 0%, #6de195 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 4px 10px 20px 0 rgba(10, 10, 132, 0.35);
  margin-top: 10%;
  transition: all 0.3s ease-in-out;
}
.botao-ver-avaliacoes:hover {
  color: white;
  font-size: 0.95rem;
  height: 6vh;
  width: 70%;
  border: 1px solid #0a0a84;
  transition: all 0.3s ease-in-out;
}

.botao-ok-modal-detalhes {
  color: white;
  font-size: 0.75rem;
  height: 6vh;
  width: 50%;
  background: linear-gradient(90deg, #1212e0 0%, #6de195 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 4px 10px 20px 0 rgba(10, 10, 132, 0.35);
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}
.botao-ok-modal-detalhes:hover {
  color: white;
  font-size: 0.95rem;
  height: 6vh;
  width: 70%;
  border: 1px solid #0a0a84;
  transition: all 0.3s ease-in-out;
}

.bloco-adicionarBuscar {
  background-color: rgba(231, 231, 233, 0.7);
  border-radius: 48px 48px 0 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 2.5%;
  padding: 5% 0 0.75%;
  width: 100%;
}
.bloco-adicionarBuscar__container {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5%;
}
.bloco-adicionarBuscar__container.config {
  align-items: center;
  justify-content: space-between;
}
.bloco-adicionarBuscar__container___conteudo {
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
}
.bloco-adicionarBuscar___alerta-config {
  color: #787887;
  font-size: 1rem;
  margin: 1% 0;
  text-align: left;
  width: 100%;
}
.bloco-adicionarBuscar___alerta-config span {
  color: #f47c57;
}
.bloco-adicionarBuscar__container:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0 5%;
}
.bloco-adicionarBuscar__container.config:last-of-type {
  display: flex;
  flex-direction: column;
}

.config-card {
  height: 95%;
  width: 95%;
  background-color: #fafefd;
  border-radius: 48px 48px 8px 8px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 2.5% auto;
}

.users-card {
  height: 85%;
  width: 95%;
  background-color: #fafefd;
  border-radius: 48px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  margin: 2.5% auto;
  overflow: auto;
}

.modal-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.mostrar-modal {
  display: flex;
  flex-direction: row;
}

.mostrar-modal .modalAddNovo {
  animation: exibe-modal 0.9s ease-in-out;
}

.modalAddNovo-Card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10%;
}
.modalAddNovo-Card-container.modalAddNovo-Card-container.telefones {
  margin: 10% 0;
}

.modalAddNovo {
  position: relative;
  width: 70%;
  height: 80vh;
  overflow: auto;
  min-width: 650px;
  background-color: #e7e7e9;
  border-radius: 16px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 5%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.modalAddNovo__title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 5%;
}
.modalAddNovo__title-box___titulo {
  color: #787887;
  font-size: 1.75rem;
  font-family: "Fjalla One", sans-serif;
}
.modalAddNovo__input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
}
.modalAddNovo__input-box {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.modalAddNovo__input-box___label {
  color: #787887;
  font-size: 1.1rem;
  font-family: "Fjalla One", sans-serif;
  margin: 5% 0;
}
.modalAddNovo__input-box___input {
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 24px;
  height: 6vh;
  padding: 5%;
  margin-bottom: 5%;
}
.modalAddNovo__input-box___input:focus {
  border: 1px solid #0a0a84;
  outline: none;
}
.modalAddNovo__card-add-tel {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 4%;
  background-color: #c4c4c4;
  border-radius: 16px;
}
.modalAddNovo__card-add-tel > .modalAddNovo__input-box {
  width: 90%;
  margin: 5% auto;
}
.modalAddNovo__card-add-tel > .botao-adicionar-novo {
  height: 6.5vh;
  width: 80%;
  border-radius: 8px;
  margin-bottom: 5%;
}
.modalAddNovo__card-add-tel.supervisores {
  width: 100%;
  margin-right: 0;
  margin: 10% 0;
}
.modalAddNovo__card-add-tel--titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #787887;
  border-radius: 16px 16px 0 0;
  padding: 3% 3% 3% 10%;
  width: 100%;
}
.modalAddNovo__card-add-tel--titleBox___titulo {
  color: #fafefd;
  font-size: 1rem;
}
.modalAddNovo__card-permissoes {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: #c4c4c4;
  border-radius: 16px;
}
.modalAddNovo__card-permissoes-box {
  text-align: center;
  border-bottom: 1px solid rgba(120, 120, 135, 0.5);
  margin: 2.5% 0;
}
.modalAddNovo__card-permissoes-box:last-of-type {
  border-bottom: none;
}
.modalAddNovo__card-permissoes-box___titulo {
  font-family: "Fjalla One", sans-serif;
  color: #787887;
  font-size: 0.95rem;
  margin: 2.5% 0;
}
.modalAddNovo__card-permissoes-box___label {
  font-family: "Montserrat", sans-serif;
  color: #787887;
  font-size: 0.85rem;
}
.modalAddNovo__card-permissoes-box___input {
  margin-bottom: 2.5%;
}
.modalAddNovo__botoes-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.modalAddNovo__botoes-container > .botao-adicionar-novo, .modalAddNovo__botoes-container .botao-cancelar {
  width: 40%;
  margin-left: 0;
  margin: 0 5%;
}
.modalAddNovo__box-supervisor-anterior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #787887;
}
.modalAddNovo__box-supervisor-anterior:last-of-type {
  border-bottom: none;
}
.modalAddNovo__box-supervisor-anterior > input[type=checkbox i] {
  margin: 3%;
}
.modalAddNovo__box-supervisor-anterior___nome {
  color: #787887;
  font-size: 0.75rem;
}

.modal-excluir-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.mostrar-modal {
  display: flex;
  flex-direction: row;
}

.mostrar-modal .modal-excluir {
  animation: exibe-modal 0.9s ease-in-out;
}

.modal-excluir-containerBotao {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-excluir {
  position: relative;
  background-color: #e7e7e9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 40%;
}
.modal-excluir__titulo {
  font-family: "Fjalla One", sans-serif;
  color: #787887;
  font-size: 1.25rem;
  margin-bottom: 15%;
}

.botao-adicionar-novo.sim, .botao-cancelar.nao {
  margin-left: 0;
  height: 6vh;
  width: 45%;
}

.modal-mais-info-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.modal-mais-info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 90vh;
  overflow: auto;
  min-width: 650px;
  background-color: #e7e7e9;
  border-radius: 16px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 5%;
  flex-wrap: wrap;
}
.modal-mais-info__titulo {
  color: #787887;
  font-size: 2rem;
  border-bottom: 1px solid #787887;
  margin-bottom: 2.5%;
  padding-bottom: 1.5%;
}
.modal-mais-info__conteudo {
  color: #787887;
  font-size: 1rem;
  padding: 0.5% 0;
}
.modal-mais-info__conteudo:last-of-type {
  margin-bottom: 5%;
}
.modal-mais-info.analisantes {
  height: 110vh;
  overflow: auto;
}

.mostrar-modal {
  display: flex;
  flex-direction: row;
}

.mostrar-modal .modal-mais-info {
  animation: exibe-modal 0.9s ease-in-out;
}

.modal-avaliacoes-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.modal-avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 70%;
  height: 80vh;
  overflow: auto;
  min-width: 650px;
  background-color: #e7e7e9;
  border-radius: 16px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 5%;
  flex-wrap: wrap;
}
.modal-avaliacoes__titulo {
  color: #787887;
  font-size: 2rem;
  margin-bottom: 2.5%;
  padding-bottom: 1.5%;
  justify-self: start;
}

.mostrar-modal {
  display: flex;
  flex-direction: row;
}

.mostrar-modal .modal-avaliacoes {
  animation: exibe-modal 0.9s ease-in-out;
}

.card-cadHoje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  grid-column: 1/2;
  grid-row: 1/4;
  width: 100%;
}
.card-cadHoje__titulo {
  color: #e7e7e9;
  font-size: 1rem;
  height: 10vh;
  width: 100%;
  background-color: #787887;
  border-radius: 24px 24px 0 0;
  text-align: center;
  margin-bottom: 7.5%;
  padding-top: 12.5%;
  vertical-align: baseline;
}
.card-cadHoje__containerInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-cadHoje__containerData {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}
.card-cadHoje__data {
  color: #787887;
  font-size: 0.5rem;
  font-style: italic;
  font-weight: lighter;
  padding: 5% 0%;
}
.card-cadHoje__diaSemana {
  color: #787887;
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  padding: 5% 0% 10%;
}
.card-cadHoje__containerTotal {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5% 0;
}
.card-cadHoje__totalCadastros {
  color: #787887;
  font-size: 2rem;
  font-weight: bold;
}
.card-cadHoje__containerTotal .material-icons {
  font-size: 2rem;
  padding: 0 0;
}
.card-cadHoje__pessoa {
  color: #787887;
  font-size: 0.9rem;
  padding: 2.5% 0;
  margin: 0 7.5%;
}

.card-filaEspera {
  display: flex;
  flex-direction: column;
  background-color: rgba(251, 255, 64, 0.7);
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px rgba(251, 255, 64, 0.6);
  grid-column: 2/4;
  grid-row: 2/4;
  width: 100%;
}
.card-filaEspera__titulo {
  color: #787887;
  font-size: 1rem;
  background-color: rgba(231, 231, 233, 0.5);
  border-radius: 24px 24px 0 0;
  height: 10vh;
  padding: 10% 0;
  text-align: center;
}
.card-filaEspera__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 100%;
  margin: 2.5% 0;
  padding: 7.5% 0;
  border-bottom: 1px solid #c4c4c4;
}
.card-filaEspera__box:last-of-type {
  border-bottom: none;
  padding: 5%;
}
.card-filaEspera__box .material-icons {
  color: #787887;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 5%;
}
.card-filaEspera__quantidade {
  color: #787887;
  font-size: 2rem;
  font-weight: 700;
}
.card-filaEspera__pessoa {
  color: #787887;
  font-size: 0.75rem;
}

.card-atendidos {
  display: flex;
  flex-direction: column;
  background-color: #6de195;
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px rgba(109, 225, 149, 0.6);
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
}
.card-atendidos__titulo {
  color: #787887;
  font-size: 1rem;
  background-color: rgba(231, 231, 233, 0.5);
  border-radius: 24px 24px 0 0;
  height: 10vh;
  padding: 10% 0;
  text-align: center;
}
.card-atendidos__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto 0;
  padding: 5% 0;
}
.card-atendidos__box .material-icons {
  color: #787887;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0;
}
.card-atendidos__valor {
  color: #787887;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-naoAtendidos {
  display: flex;
  flex-direction: column;
  background-color: #f47c57;
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px rgba(244, 124, 87, 0.4);
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
}
.card-naoAtendidos__titulo {
  color: #787887;
  font-size: 1rem;
  background-color: rgba(231, 231, 233, 0.5);
  border-radius: 24px 24px 0 0;
  height: 10vh;
  padding: 10% 0;
  text-align: center;
}
.card-naoAtendidos__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto 0;
  padding: 5% 0;
}
.card-naoAtendidos__box .material-icons {
  color: #787887;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0;
}
.card-naoAtendidos__valor {
  color: #787887;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-totalAnalisantes {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
  grid-column: 4/5;
  grid-row: 1/3;
  width: 100%;
}
.card-totalAnalisantes__titulo {
  color: white;
  font-size: 1rem;
  background-color: rgba(18, 18, 224, 0.7);
  border-radius: 24px 24px 0 0;
  height: 10vh;
  padding: 12.5% 0;
  text-align: center;
}
.card-totalAnalisantes__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto 0;
  padding: 5% 0;
  border-bottom: 1px solid #c4c4c4;
}
.card-totalAnalisantes__box .material-icons {
  color: #787887;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0;
}
.card-totalAnalisantes__box.total {
  display: flex;
  flex-direction: column;
  border-bottom: none;
}
.card-totalAnalisantes__totalNaoAtendido {
  color: #787887;
  font-size: 0.75rem;
  text-align: center;
  margin: 5% 0;
}
.card-totalAnalisantes__box-n {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.card-totalAnalisantes__valor {
  color: #787887;
  font-size: 2rem;
  font-weight: 700;
}

.card-turmas {
  display: flex;
  flex-direction: column;
  background-color: #6de195;
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px rgba(109, 225, 149, 0.6);
  grid-column: 4/5;
  grid-row: 3/4;
  width: 100%;
}
.card-turmas__titulo {
  color: #787887;
  font-size: 1rem;
  background-color: rgba(231, 231, 233, 0.5);
  border-radius: 24px 24px 0 0;
  height: 10vh;
  padding: 12.5% 0;
  text-align: center;
}
.card-turmas__valor {
  color: #787887;
  font-size: 2.75rem;
  align-self: center;
  font-weight: 700;
  margin-top: 7.5%;
}

.alterar-ordem-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.alterar-ordem {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 90vh;
  overflow: auto;
  min-width: 650px;
  background-color: #e7e7e9;
  border-radius: 16px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 5%;
}
.alterar-ordem__titulo {
  color: #787887;
  font-size: 1.5rem;
}
.alterar-ordem__subtitulo {
  color: #787887;
  font-size: 1rem;
  margin: 5% 0;
  text-align: center;
  padding-bottom: 1.5%;
}
.alterar-ordem__btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mostrar-modal {
  display: flex;
  flex-direction: row;
}

.mostrar-modal .alterar-ordem {
  animation: exibe-modal 0.9s ease-in-out;
}

.config-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  padding: 5% 2.5%;
  gap: 16px;
}

.config-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e7e7e9;
  border-radius: 16px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 2% 5% 7.5%;
  font-family: "Fjalla One";
}
.config-page-card:first-of-type {
  grid-column: 1/2;
  grid-row: 1/5;
}
.config-page-card:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 5/8;
}
.config-page-card:nth-of-type(3) {
  grid-column: 2/3;
  grid-row: 1/4;
}
.config-page-card:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 4/7;
}
.config-page-card:last-of-type {
  grid-column: 2/3;
  grid-row: 7/9;
}
.config-page-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 2.5%;
  margin-top: 5%;
  width: 100%;
}
.config-page-card__header___titulo {
  color: #787887;
  font-size: 1.25rem;
}
.config-page-card__input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
  width: 100%;
}
.config-page-card__input-box___label {
  color: #787887;
  font-size: 1rem;
}
.config-page-card__input-box___input {
  height: 5vh;
  width: 65%;
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  border: none;
  border-radius: 16px;
  padding-left: 5%;
  font-family: "Montserrat", sans-serif;
}
.config-page-card__input-button-box {
  display: flex;
  flex-direction: row-reverse;
  width: 75%;
}
.config-page-card__input-button-box___button {
  height: 5vh;
  width: 35%;
  color: #fafefd;
  font-size: 0.65rem;
  font-style: italic;
  font-weight: lighter;
  border: none;
  border-radius: 16px 0 0 16px;
  background-color: #1212e0;
  font-family: "Montserrat", sans-serif;
}
.config-page-card__input-button-box___button:hover {
  cursor: pointer;
  box-shadow: 4px 0px 10px 3px rgba(18, 18, 224, 0.5);
}
.config-page-card__input-button-box___input {
  height: 5vh;
  width: 65%;
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  border: none;
  border-radius: 0 16px 16px 0;
  padding-left: 5%;
  font-family: "Montserrat", sans-serif;
}

.estatisticas {
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
  grid-column: 1/5;
  width: 100%;
}
.estatisticas__titulo {
  color: #fafefd;
  font-size: 1.25rem;
  background-color: #787887;
  border-radius: 24px 24px 0 0;
  height: 10vh;
  padding: 2.5%;
  margin-bottom: 1.5%;
  text-align: center;
}
.estatisticas__container-legenda {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
}
.estatisticas__container-legenda___box {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 50%;
}
.estatisticas__container-legenda___mes {
  color: black;
  font-size: 1.1rem;
  text-align: center;
}
.estatisticas__container-legenda___indicador {
  background-color: #1212e0;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 50%;
  width: 10%;
}
.estatisticas__container-legenda___indicador.verde {
  background-color: #6de195;
}
.estatisticas__container-grafico {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
  padding: 3% 0;
}
.estatisticas__container-grafico___box {
  display: flex;
  flex-direction: row;
  width: 5%;
  height: 20vh;
}
.estatisticas__container-grafico___mesAtual {
  background-color: #1212e0;
  border: none;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 15vh;
  width: 45%;
}
.estatisticas__container-grafico___mesAnterior {
  background-color: #6de195;
  border: none;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 10vh;
  width: 45%;
}
.estatisticas__container-grafico___nomeMes {
  margin-right: 7.5%;
  text-align: left;
}
.estatisticas__arrow {
  display: none;
  overflow: hidden;
}

.header {
  background-color: #e7e7e9;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 3.5% 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: center;
}
.header__container-info {
  width: 100%;
}
.header__container-info___title {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  color: black;
  font-size: 0.6rem;
}
.header__img {
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.5);
  clip-path: circle();
  width: 7.5%;
  margin: 0 6% 0 5%;
}
.header__menu {
  display: flex;
  flex-direction: column;
}
.header__menu___item {
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}
.header__menu___item:first-child {
  border-top: 1px solid #c4c4c4;
  margin-top: 7.5%;
}
.header__menu___item:hover {
  border-left: 4px solid #0a0a84;
  cursor: pointer;
}
.header__menu___item:hover .material-icons {
  color: #1212e0;
}
.header__menu___item:hover a {
  color: black;
}
.header__menu___nome {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #0a0a84;
  font-size: 1rem;
}

.home-Card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  padding: 2.5% 10%;
  background-color: #fafefd;
  border-radius: 48px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  height: 95%;
  width: 95%;
  margin: 2.5% auto;
}

.rodape {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  width: 100%;
  background-color: rgba(196, 196, 196, 0.7);
}
.rodape__container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2%;
}
.rodape__container:first-of-type {
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}
.rodape__info {
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  margin: 0 2%;
}

.caixa-exibir {
  background-color: white;
  border-radius: 16px;
  border: none;
  height: 4vh;
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabela-container {
  background-color: rgba(231, 231, 233, 0.7);
  border-radius: 12px 12px 0 0;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.15);
  margin: 1.5% 1.5% 5%;
  width: 97%;
  table-layout: fixed;
  word-wrap: break-word;
  overflow: hidden;
}

.tabela__header {
  height: 5vh;
}
.tabela__header___tr {
  color: #fafefd;
  font-size: 0.75rem;
  background-color: rgba(18, 18, 224, 0.7);
  text-align: center;
}

.tabela__body___tr {
  color: #1212e0;
  font-size: 1rem;
  border-bottom: 1px solid #c4c4c4;
}
.tabela__body___tr:nth-of-type(even) {
  color: #787887;
}

body {
  background: linear-gradient(155deg, #5583ee 0%, #41d8dd 100%);
}

.card-alerta {
  color: #055160;
  font-size: 1rem;
  width: 80%;
  background-color: rgba(207, 244, 252, 0.8);
  border: 1px solid #b6effb;
  border-radius: 8px;
  box-shadow: 0px 0px 50px 7px rgba(5, 81, 96, 0.4);
  grid-column: 1/3;
  line-height: 1.5rem;
  margin: 5% auto 1%;
  padding: 3.5%;
}

.card-principal {
  background: #e7e7e9;
  border-radius: 8px;
  box-shadow: 2px 10px 15px 0px rgba(0, 0, 0, 0.2);
  grid-column: 1/3;
  margin: 5% auto 2.5%;
  padding: 10% 5%;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloco {
  border-bottom: 1px solid #c4c4c4;
  height: 100%;
  padding: 2.5% 0;
}
.bloco:hover {
  cursor: pointer;
}
.bloco__titulo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2% 0;
}
.bloco__titulo {
  color: #787887;
  font-size: 1.5rem;
  opacity: 0.9;
}
.bloco__conteudo-box {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.bloco__conteudo-box.telefone {
  width: 100%;
}
.bloco__label {
  color: #787887;
  font-size: 1.1rem;
  margin: 5% 0;
  opacity: 0.7;
}
.bloco__label.telefones {
  text-align: center;
}
.bloco__input, .bloco .bloco__selecao {
  color: #787887;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: lighter;
  background-color: white;
  border: none;
  border-radius: 24px;
  height: 6vh;
  padding: 5%;
  margin-bottom: 5%;
  text-align: left;
}
.bloco__input:focus, .bloco .bloco__selecao:focus {
  border: 1px solid #0a0a84;
  outline: none;
}
.bloco__opcoes {
  display: flex;
  flex-direction: row;
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.asterisco {
  color: #f47c57;
}

.opcional {
  color: #6de195;
}

.container-nascimento, .container-telefone {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-telefone {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin: 7.5% 0;
}

.botao-addTelefone, .botao-cadastrar {
  height: 6vh;
  width: 75%;
  color: white;
  font-size: 1rem;
  height: 8vh;
  width: 60%;
  align-self: center;
  background: linear-gradient(155deg, #5583ee 0%, #41d8dd 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 2px 5px 15px 0px rgba(0, 0, 0, 0.2);
  margin: 7.5% 0;
  font-weight: 500;
  margin: 5% 0 2%;
}
.botao-addTelefone:hover, .botao-cadastrar:hover {
  border: 1px solid #055160;
  color: #055160;
  font-weight: 700;
}

.botao-cadastrar {
  border-radius: 24px;
  height: 8vh;
  width: 60%;
}

.bloco__conteudo-box.nascimento {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bloco__conteudo-box.dia-mes-ano {
  width: 30%;
}

.bloco__opcoes.classe-ativa {
  max-height: 100%;
  overflow: visible;
}

.numero-telefone-adicionado {
  font-size: 15px;
  padding: 2.5% 0;
  text-align: center;
}

.bg-body {
  background: linear-gradient(155deg, #5583ee 0%, #41d8dd 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-box {
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e9;
  border-radius: 24px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.5);
  padding: 2.5%;
}
.login-box__titulo {
  color: #0a0a84;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding: 2.5%;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 5%;
}
.login-box__label {
  color: #787887;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  padding-left: 2.5%;
}
.login-box__input {
  height: 6vh;
  width: 100%;
  border: none;
  border-radius: 24px;
  padding: 2.5%;
  margin-bottom: 2.5%;
}
.login-box__btn {
  color: white;
  font-size: 0.75rem;
  height: 6vh;
  width: 50%;
  background: linear-gradient(90deg, #1212e0 0%, #6de195 100%);
  border: none;
  border-radius: 24px;
  box-shadow: 4px 10px 20px 0 rgba(10, 10, 132, 0.35);
  transition: all 0.3s ease-in-out;
}
.login-box__btn:hover {
  color: white;
  font-size: 0.95rem;
  height: 6vh;
  width: 60%;
  border: 1px solid #0a0a84;
  transition: all 0.3s ease-in-out;
}

.login-box-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
