.botao-ver-avaliacoes {
    @include color-fontSize($branco, .75rem);
    @include height-width(6vh, 50%);
    @extend %mont;
    background: linear-gradient(90deg, rgba(18,18,224,1) 0%, rgba(109,225,149,1) 100%);   
    border: none;
    border-radius: 24px;
    box-shadow: 4px 10px 20px 0 rgba(10, 10, 132, .35);
    margin-top: 10%;
    transition: all .3s ease-in-out;
    &:hover {
        @include color-fontSize($branco, .95rem);
        @include height-width(6vh, 70%);
        border: 1px solid $azul-escuro-fosco;
        transition: all .3s ease-in-out;
    }

    //-------------------------------------------------------->
    @include mobile {
        @include height-width(4vh, 35%);
        margin-top: 0;
        margin-left: 5%;

        //---------------------------------------------------->
        &:hover {
            @include height-width(4vh, 35%);
        }
    }
}