.botao-ver-analisantes {
    @include height-width(5vh, 70%);
    margin: 7.5% auto 15%;

    & a{
        @include color-fontSize($branco-bg, .75rem);
        @extend %mont;
        font-weight: 400;
        text-decoration: none;
    }
}