.botao-cancelar {
    @include color-fontSize($branco, .75rem);
    @include height-width(6vh, 15%);
    @extend %mont;
    background: $vermelho-padrao;   
    border: none;
    border-radius: 24px;
    box-shadow: 4px 10px 20px 0 rgba(244, 124, 87, .2);
    margin-left: 10%;
    transition: all .3s ease-in-out;
    &:hover {
        @include color-fontSize($branco, .95rem);
        border: 1px solid darkred;
        transition: all .3s ease-in-out;
    }

    //-------------------------------------------------------->
    @include mobile {
        @include height-width(4vh, 15%);
    }
}
