.botao--salvar {
    margin-left: 0;
    width: 45%;

    &:hover {
        width:45%;
    }
}

.botao-salvar.config {
    margin-left: 0;
    margin: 6.5% auto 0;
    &:hover {
        border: 1px solid $azul-escuro-fosco;
        transition: all .3s ease-in-out;
    }
}