.botao--add-telefone {
    font-size: 1.25rem;
    margin: 2.5% auto;
    &:hover {
        font-size: 1.5rem;
    }

    //------------------------------------>
    @include mobile {
        &:hover {
            font-size: 1.25rem;
        }
    }
}

.botao--add-telefone-form {
    margin-left: 0;
    margin: 2.5% auto;
}