
.bloco-adicionarBuscar {
    background-color: rgb(231, 231, 233, .7);
    border-radius: 48px 48px 0 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    margin-bottom: 2.5%;
    padding: 5% 0 .75%;
    width: 100%;

    //--------------------------------------------------------->
    @include mobile {
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.25);
        margin-bottom: 10%
    }
    
    &__container {
        @include alignItens-justifyContent(center, flex-start);
        @include display-flexDirection(flex, row);
        margin-bottom: 2.5%;

        //---------------------------------------------------------->
        @include mobile {
            justify-content: space-between;
        }
        
        //estilo especial para a pagina de configurações do administrador:
        &.config {
            @include alignItens-justifyContent(center, space-between);

            //------------------------------------------------------>
            @include mobile {
                padding: 0 5% 0 0;
            }
        }        
        
        &___conteudo {
            @include color-fontSize($cinza-escuro, .75rem);
            @include fontStyle-fontWeight(italic, lighter)
        }        
    }
       
    &___alerta-config {
        @include color-fontSize($cinza-escuro, 1rem);
        margin: 1% 0;
        text-align: left;
        width: 100%;

        & span {
            color: $vermelho-padrao;
        }

        //------------------------------------------------------>
        @include mobile {
            padding-bottom: 5%;

            & span {
                padding-left: 0;
            }
        }
    }
    
    &__container:last-of-type{
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, flex-end);
        margin: 0 5%;

        //------------------------------------------------------->
        @include mobile {
            justify-content: flex-start;
            margin: 2.5%;
            margin-left: 5%;
        }
    }
    //estilo especial para a pagina de configurações do administrador:
    &__container.config:last-of-type {
        @include display-flexDirection(flex, column);
    }
}
