//padrão do projeto
.material-icons {
    @include color-fontSize($cinza-escuro, .8rem);
    padding: 0 7.5%;

    //---------------------------------------------------->
    @include mobile {
        padding: 0;
    }

    &.config-icon {
        @include color-fontSize($cinza-escuro, 2.25rem);

        //--------------------------------------------->
        @include color-fontSize($cinza-escuro, 1.5rem);
    }
}

.material-icons--config {
    @include color-fontSize($cinza-escuro, 1.5rem);
    padding: 0;
}

.material-icons.edit {
    @include color-fontSize($verde-padrao, 1.25rem);

    //---------------------------------------------->
    @include mobile {
        font-size: 1;
        margin: 0 5%;
    }
}

.material-icons.delete {
    @include color-fontSize($vermelho-padrao, 1.25rem);

    //---------------------------------------------->
    @include mobile {
        font-size: 1.5rem;
        margin: 0 5%;
    }
}
//padrão do botões de ação das tabelas
.material-icons.edit, .material-icons.delete, .material-icons.ver-mais:hover {
    cursor: pointer;
}

.material-icons.modadAddNovo-icon{
    @include color-fontSize($branco, .75rem);
}

.material-icons.titulo-modal-icon {
    @include color-fontSize($cinza-escuro, 1.75rem);
}

.material-icons.arrow-back, .material-icons.arrow-forward {
    @include color-fontSize($cinza-escuro, .75rem);
    &:hover{
        @include color-fontSize($azul-escuro-fosco, .95rem);
    }
}

.material-icons.supervisor {
    @include color-fontSize($branco, 1rem);
}

.material-icons.ver-mais {
    @include color-fontSize($cinza-escuro, 1.25rem);

    //---------------------------------------------->
    @include mobile {
        font-size: 1.5rem;
        margin: 0 0 0 5%;
    }
}

.material-icons.phone {
    @include color-fontSize($branco, 1rem);
}

.material-icons.mouse {
    @include color-fontSize($cinza-escuro, 1.5rem);
}

.material-icons.arrow-expand {
    @include color-fontSize($azul-medio-brilhante, 2.5rem);
    animation: Flashing .8s ease-in alternate infinite;
    padding: 0;
    &:hover {
        cursor: pointer;
    }
}