*{
    box-sizing: border-box;
}

body {
    @extend %mont;
    font-size: 16px;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: $cinza-claro;
    transition: background-color .5s ease-in-out;
    min-height: 100vh;

    @include mobile {
        display: block;
        grid-template-columns: none;
        background-color: $branco-bg;
        transition: background-color .5s ease-in-out;
    }
}
