.input-bloco-busca {
    @include height-width(6.5vh, 30%);
    @include color-fontSize($cinza-escuro, .75rem);
    @include fontStyle-fontWeight(italic, lighter);
    border: none;
    border-radius: 24px;
    @extend %mont;
    padding-left: 2.5%;
    margin: 1.5% 0 0 5%;
    &:focus {
        border: 1px solid $azul-escuro-fosco;
        outline: none;
    }
}