.modal-excluir-container {
    @extend %container-modal;
}

//quando a classe for adicionada, o modal é exibido mudando display
.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .modal-excluir {
    animation: exibe-modal .9s ease-in-out;
}

.modal-excluir-containerBotao {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    width: 80%;
}
.modal-excluir {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    @include height-width(60%, 40%);    
    background-color: $cinza-claro;
    border-radius: 16px;
    position: relative;  
    
    //----------------------------------------------------------------->
    @include mobile {
        @include height-width(50%, 90%);
    }
}

.botao-adicionar-novo.sim, .botao-cancelar.nao {
    @include height-width(6vh, 45%);
    margin-left: 0;
}
