.modal-container {
    //container do modal com display none inicialmente
    @include display-flexDirection(none, row);
    @include alignItens-justifyContent(center, center);
    @include height-width(100vh, 100vw);
    background-color: rgba(0,0,0,.5);
    position: fixed;
        left: 0px;
        top: 0px;
    z-index: 10;
}

//animação para mostrar o modal
@keyframes exibe-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -80px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

//quando a classe for adicionada, o modal é exibido mudando display
.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .modalAddNovo {
    animation: exibe-modal .9s ease-in-out;
}

.modalAddNovo-Card-container {
    @include display-flexDirection(flex, row);
    width: 100%;
    margin-bottom: 10%;
}

.modalAddNovo {
    position: relative;
    width: 70%; 
    height: 80vh;
    overflow: auto;
    min-width: 650px;
    background-color: $cinza-claro;
    border-radius: 16px;
    box-shadow: 0 4px 50px 0 rgba(0,0,0,.15);
    padding: 5%;
    flex-wrap: wrap;
    @include display-flexDirection(flex, row);
    

    &__title-box {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-between);
        width: 100%;
        border-bottom: 1px solid $cinza-medio;
        padding-bottom: 5%;

        &___titulo {
            @include color-fontSize($cinza-escuro, 1.75rem);
            font-family: 'Fjalla One', sans-serif;
        }
    }

    &__input-container {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-between);
        flex-wrap: wrap;
        margin-bottom: 10%;
    }

    &__input-box {
        @include display-flexDirection(flex, column);
        width: 48%;
        
        &___label {
            @include color-fontSize($cinza-escuro, 1.1rem);
            font-family: 'Fjalla One', sans-serif;
            margin: 5% 0;
        }

        &___input {
            @include color-fontSize($cinza-escuro, .75rem);
            @include  fontStyle-fontWeight(italic, lighter);
            font-family: 'Montserrat', sans-serif;
            border: none;
            border-radius: 24px;
            height: 6vh;
            padding: 5%;
            margin-bottom: 5%;
            &:focus {
                border: 1px solid $azul-escuro-fosco;
                outline: none;
            }
        }
    }

    &__card-add-tel {
        @include display-flexDirection(flex, column);
        width: 48%;
        margin-right: 4%;
        background-color: $cinza-medio;
        border-radius: 16px;
        //configuração especial para este input
        & > .modalAddNovo__input-box {
            width: 90%;
            margin: 5% auto
        }
        & > .botao-adicionar-novo {
            @include height-width(6.5vh, 80%);
            border-radius: 8px;
            margin-bottom: 5%;
        }
        //card de supervisores
        &.supervisores{
            @include height-width(null, 100%);
            margin-right: 0;
            margin: 10% 0;
        }
    }

    &__card-add-tel--titleBox {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-between);
        @extend %fjala;
        background-color: $cinza-escuro;
        border-radius: 16px 16px 0 0;
        padding: 3% 3% 3% 10%;
        width: 100%;

        &___titulo {
            @include color-fontSize($branco-bg, 1rem);
        }
    }

    &__card-permissoes {
        @include display-flexDirection(flex, column);
        width: 48%;
        background-color: $cinza-medio;
        border-radius: 16px;
        
    }

    &__card-permissoes-box {
        text-align: center;
        border-bottom: 1px solid rgba(120, 120, 135,.5);
        margin: 2.5% 0;
        &:last-of-type {
            border-bottom: none;
        }

        &___titulo {
            font-family: 'Fjalla One', sans-serif;
            @include color-fontSize($cinza-escuro, .95rem);
            margin: 2.5% 0;
        }

        &___label {
            font-family: 'Montserrat', sans-serif;
            @include color-fontSize($cinza-escuro, .85rem);
        }

        &___input {
            margin-bottom: 2.5%;
        }
    }

    &__botoes-container {
        @include display-flexDirection(flex, row);
        width: 100%;

        & > .botao-adicionar-novo, .botao-cancelar {
            width: 40%;
            margin-left: 0;
            margin: 0 5%;
        }
    }

    &__box-supervisor-anterior {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, flex-start);
        border-bottom: 1px solid $cinza-escuro;
        &:last-of-type{
            border-bottom: none;
        }

        //dentro do box-supervisor, onde tenha um input deste tipo
        & > input[type="checkbox" i] {
            margin: 3%;   
        }

        &___nome {
            @extend %mont;
            @include color-fontSize($cinza-escuro, .75rem);
        }
    }
}
