.modal-add-novo-container {
    @extend %container-modal;
}

//quando a classe for adicionada, o modal é exibido mudando display
.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .modalAddNovo {
    animation: exibe-modal .9s ease-in-out;
}

.modalAddNovo-Card-container {
    @include display-flexDirection(flex, row);
    margin-bottom: 10%;
    width: 100%;
    //configuração do telefone do form analisantes
    &.modalAddNovo-Card-container.telefones {
        margin: 10% 0;
    }

    //------------------------------------------------------------>
    @include mobile {
        @include display-flexDirection(flex, column);
    }
}

.modalAddNovo {
    @extend %modal-config;
    @include height-width(80vh, 70%);

    //----------------------------------------------------------->
    @include mobile {
        @include height-width(90vh, 90%);
    }

    &__title-box {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        border-bottom: 1px solid $cinza-medio;
        padding-bottom: 5%;
        width: 100%;

        //----------------------------------------------------------->
        @include mobile {
            margin-bottom: 7.5%;
        }
    }

    &__input-container {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        flex-wrap: wrap;
        margin-bottom: 10%;
        width: 100%;

        //-------------------------------------------------------->
        @include mobile {
            @include display-flexDirection(flex, column);
        }
    }

    &__input-box {
        @include display-flexDirection(flex, column);
        width: 48%; 
        //-------------------------------------------------------->
        @include mobile {
            width: 100%;
        }       
    }

    &__card-add-tel {
        @include display-flexDirection(flex, column);
        background-color: $cinza-medio;
        border-radius: 16px;
        margin-right: 4%;
        width: 48%;

        //--------------------------------------------------------->
        @include mobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10%;
        }

        //configuração especial para este input
        & > .modalAddNovo__input-box {
            margin: 5% auto;
            width: 90%;
        }
        & > .botao-adicionar-novo {
            @include height-width(6.5vh, 80%);
            border-radius: 8px;
            margin-bottom: 5%;
        }
        //card de supervisores
        &.supervisores{
            @include height-width(null, 100%);
            margin-right: 0;
            margin: 10% 0;
        }
    }

    &__card-add-tel--titleBox {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        @extend %fjala;
        background-color: $cinza-escuro;
        border-radius: 16px 16px 0 0;
        padding: 3% 3% 3% 10%;
        width: 100%;

        &___titulo {
            @include color-fontSize($branco-bg, 1rem);
        }
    }

    &__card-permissoes {
        @include display-flexDirection(flex, column);
        background-color: $cinza-medio;
        border-radius: 16px;
        width: 48%;

        //--------------------------------------------------------->
        @include mobile {
            width: 100%;
        }
    }

    &__card-permissoes-box {
        border-bottom: 1px solid rgba(120, 120, 135,.5);
        margin: 2.5% 0;
        text-align: center;
        &:last-of-type {
            border-bottom: none;
        }

        &___titulo {
            @include color-fontSize($cinza-escuro, .95rem);
            @extend %fjala;
            margin: 2.5% 0;
        }

        &___label {
            @extend %mont;
            @include color-fontSize($cinza-escuro, .85rem);
        }
    }

    &__botoes-container {
        @include display-flexDirection(flex, row);
        width: 100%;

        & > .botao-adicionar-novo, .botao-cancelar {
            margin-left: 0;
            margin: 0 5%;
            width: 40%;
        }
    }

    &__box-supervisor-anterior {
        @include alignItens-justifyContent(center, flex-start);
        @include display-flexDirection(flex, row);
        border-bottom: 1px solid $cinza-escuro;

        //----------------------------------------------------->
        @include mobile {
            padding: 5% 0;
        }
        &:last-of-type{
            border-bottom: none;
        }

        //dentro do box-supervisor, onde tenha um input deste tipo
        & > input[type="checkbox" i] {
            margin: 3%; 
            
            //-------------------------------------------------->
            @include mobile {
                height: 18px;
                width: 18px;
            }
        }

        &___nome {
            @include color-fontSize($cinza-escuro, .75rem);
            @extend %mont;

            //--------------------------------------------------->
            @include mobile {
                font-size: .85rem;
            }
        }
    }
}
