.alterar-ordem-container {
    @extend %container-modal;
}

.alterar-ordem {
    @extend %modal-config;

    //--------------------------------------------------------------->
    @include mobile {
        @include height-width(90vh, 90%);
        @include display-flexDirection(flex, column);
        justify-content: space-between;
    }

    &__container-input {

        //------------------------------------------------------------>
        @include mobile {
            @include display-flexDirection(flex, column);

        }
    }
    
    &__subtitulo {
        @include color-fontSize($cinza-escuro, 1rem);
        @extend %fjala;
        margin: 2.5% 0;
        padding-bottom: 1.5%;
        text-align: center;

        //--------------------------------------------------------------->
        @include mobile {
            margin-bottom: 5%;
        }
    }

    &__btn-container {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
    }
}

.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .alterar-ordem {
    animation: exibe-modal .9s ease-in-out;
}