.modal-mais-info-container {
    @extend %container-modal;
}

.modal-mais-info {
    @include height-width(90vh, 70%);
    @extend %modal-config;

    //------------------------------------------------------------->
    @include mobile {
        @include height-width(fit-content, 90%);

        & > .botao-ok-modal-detalhes {
            min-height: 5vh;
            margin: 5% auto;
        }
    }
    
    
    &__conteudo {
        @include color-fontSize($cinza-escuro, 1rem);
        padding: .5% 0;
        &:last-of-type{
            margin-bottom: 5%;
        }

        //----------------------------------------------->
        @include mobile {

            padding: 2.5% 0;
            border-bottom: 1px solid $cinza-medio;

            & span {
                font-weight: bold;
                padding: 0;
                text-align: right;
            }
        }
    }
    //config do form de analisantes
    &.analisantes {        
        height: 110vh;
        overflow: auto;

        //--------------------------------------------------------->
        @include height-width(90vh,90%);
        overflow: scrool;
    }
}
//a classe criada sobrepoe o display none e exibe o modal:
//aplicar no container
.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .modal-mais-info {
    animation: exibe-modal .9s ease-in-out;
}
