.alterar-ordem-container {
    @extend %container-modal;
}

.alterar-ordem {
    @extend %modal-config;
    
    &__subtitulo {
        @include color-fontSize($cinza-escuro, 1rem);
        @extend %fjala;
        margin: 2.5% 0;
        padding-bottom: 1.5%;
        text-align: center;
    }

    &__btn-container {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
    }
}

.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .alterar-ordem {
    animation: exibe-modal .9s ease-in-out;
}