.modal-mais-info-container {
    @extend %container-modal;
}

.modal-mais-info {
    @include height-width(90vh, 70%);
    @extend %modal-config;
    
    
    &__conteudo {
        @include color-fontSize($cinza-escuro, 1rem);
        padding: .5% 0;
        &:last-of-type{
            margin-bottom: 5%;
        }
    }
    //config do form de analisantes
    &.analisantes {        
        height: 110vh;
        overflow: auto;
    }
}
//a classe criada sobrepoe o display none e exibe o modal:
//aplicar no container
.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .modal-mais-info {
    animation: exibe-modal .9s ease-in-out;
}
