.card-naoAtendidos {
    @include display-flexDirection(flex, column);
    @extend %mont;
    background-color: $vermelho-padrao;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(244, 124, 87, .4);
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 100%;

    &__titulo {
        @include color-fontSize($cinza-escuro, 1rem);
        background-color: rgba(231, 231, 233, .5);
        border-radius: 24px 24px 0 0;
        height: 10vh;
        padding: 10% 0;
        text-align: center;
    }

    &__box {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, space-around);
        margin: auto 0;
        padding: 5% 0;

        & .material-icons {
            @include color-fontSize($cinza-escuro, 1.5rem);
            font-weight: 700;
            padding: 0 0;
        }
    }

    &__valor {
        @include color-fontSize($cinza-escuro, 1.5rem);
        font-weight: 700;
    }
}