.card-atendidos {
    @include display-flexDirection(flex, column);
    @extend %mont;
    background-color: $verde-padrao;
    border-radius: 24px;
    box-shadow: 0px 4px 50px 0px rgba(109, 225, 149, .6);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;

    //-------------------------------------------------------->
    @include mobile {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }

    &__box {
        @include alignItens-justifyContent(center, space-around);
        @include display-flexDirection(flex, row);
        margin: auto 0;
        padding: 5% 0;

        & .material-icons {
            @include color-fontSize($cinza-escuro, 1.5rem);
            font-weight: 700;
            padding: 0 0;
        }
    }

    &__valor {
        @include color-fontSize($cinza-escuro, 1.5rem);
        font-weight: 700;
    }
}