.card-cadHoje {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, column);
    @extend %mont;
    background-color: $branco;
    box-shadow: 0px 4px 50px 0px rgba(0,0,0,.15);
    border-radius: 24px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 100%;
    
    &__containerInfo {
        @include display-flexDirection(flex, column);
        width: 100%;
    }

    &__containerData {
        @include display-flexDirection(flex, column);
        border-bottom: 1px solid $cinza-medio;
        padding: 0 5%;
        width: 100%;
    }

    &__data {
        @include color-fontSize($cinza-escuro, .5rem);
        @include fontStyle-fontWeight(italic, lighter);
        padding: 5% 0%;
    }

    &__diaSemana {
        @include color-fontSize($cinza-escuro, 1rem);
        @include fontStyle-fontWeight(italic, lighter);
        padding: 5% 0% 10%;
    }

    &__containerTotal {
        display: flex;
        justify-content: space-evenly;
        padding: 5% 0;
        width: 100%;
    }

    &__totalCadastros {
        @extend %lato;
        @include color-fontSize($cinza-escuro, 2rem);
        font-weight: bold;
    }

    &__containerTotal .material-icons{
        font-size: 2rem;
        padding: 0 0;
    }

    &__pessoa {
        @include color-fontSize($cinza-escuro, .9rem);
        padding: 2.5% 0;
        margin: 0 7.5%;
    }
}