.link-menu-nav, span {
    @include color-fontSize($cinza-escuro, 1rem);    
    @extend %lato;
    text-decoration: none;
    width: 100%;

    //-------------------------------------------->
    @include mobile {
        width: 75%;
        padding-left: 10%;
    }
}