
$amarelo-padrao: rgba(251, 255, 64, .70);

$azul-alerta-pagCadastro: rgba(207, 244, 252, .8);
$azul-alerta-borda-pagCadastro: rgb(182, 239, 251);
$azul-escuro-fosco: rgb(10, 10, 132);
$azul-medio-brilhante: rgb(18, 18, 224);

$branco: rgb(255, 255, 255);
$branco-bg: rgb(250, 254, 253);

$cinza-claro: rgb(231, 231, 233);
$cinza-medio: rgb(196, 196, 196);
$cinza-escuro: rgb(120, 120, 135);

$letra-alerta-pagCadastro: rgb(5, 81, 96);

$vermelho-padrao: rgb(244, 124, 87);
$verde-padrao: rgb(109, 225, 149);
