
//O valor padrão é nulo. 
//Assim podemos não declarar determinado valor sem gerar um erro.
@mixin color-fontSize($color: null, $fontSize: null) {
    @if($color != null) {
        color: $color;
    }
    @if($fontSize != null) {
        font-size: $fontSize;
    }    
}

@mixin height-width($height: null, $width: null) {
    @if($height != null) {
        height: $height;
    }
    @if($width != null) {
        width: $width;
    } 
}

@mixin display-flexDirection($display: null, $flexDirection: null) {
    @if($display != null) {
        display: $display;
    }
    @if($flexDirection != null) {
        flex-direction: $flexDirection;
    } 
}

@mixin alignItens-justifyContent($align: null, $justify: null) {
    @if($align != null) {
        align-items: $align;
    }
    @if($justify != null) {
        justify-content: $justify;
    } 
}

@mixin fontStyle-fontWeight($fontStyle: null, $fontWeight: null) {
    @if($fontStyle != null) {
        font-style: $fontStyle;
    }
    @if($fontWeight != null) {
        font-weight: $fontWeight;
    } 
}

//representa o valor padrão do container de todos os modais
%container-modal {
    //container de todos os modais com display none inicialmente
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(none, row);
    @include height-width(100vh, 100vw);
    background-color: rgba(0,0,0,.5);
    position: fixed;
        left: 0px;
        top: 0px;
    z-index: 10;
}

%modal-config {
    @include display-flexDirection(flex, column);
    @include height-width(90vh, 70%);
    @extend %mont;
    background-color: $cinza-claro;
    border-radius: 16px;
    box-shadow: 0 4px 50px 0 rgba(0,0,0,.15);
    min-width: 650px;
    overflow: auto;
    padding: 5%;
    position: relative;
}