.tabela-body-td {   
    border-right: 1px solid $cinza-medio;
    font-size: .75rem;
    padding: 0.75%;
    text-align: center;
    vertical-align: middle;
    
    //botoes de ação editar e deletar;
    &:last-of-type{
        border-right: none;
        margin: auto 0;
        text-align: center;
        vertical-align: middle;
    }
}
