.bloco-adicionarBuscar {
    background-color: rgb(231, 231, 233, .7);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    margin: 10% 0;
    padding: 3.5% 5% 2.5%;


    &__container {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        margin-bottom: 5%;

        &___titulo {
            @include color-fontSize($cinza-escuro, 1.5rem);
            font-family: 'Fjalla One', sans-serif;
        }

        &___conteudo {
            @include color-fontSize($cinza-escuro, .75rem);
            @include fontStyle-fontWeight(italic, lighter)
        }

        &___output {
            @include color-fontSize($cinza-escuro, .75rem);
            @include fontStyle-fontWeight(italic, lighter);
            @include height-width(2.5vh, 10%);
            background-color: $branco;
            border-radius: 8px;
            margin: 0 5%;
            text-align: center;

        }
    }

    &__linha {
        border-color: $cinza-claro;
        opacity: .75;
        margin: 5% 0;
        size: 1px;
    }

    &__input {
        @include height-width(6.5vh, 60%);
        @include color-fontSize($cinza-escuro, .75rem);
        @include fontStyle-fontWeight(italic, lighter);
        border: none;
        border-radius: 16px;
        font-family: 'Montserrat', sans-serif;
        padding-left: 5%;
        margin: 2.5% 0 5%;
    }

    &__container:last-of-type{
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, flex-start);
        margin-bottom: 2.5%;
    }
}