
.bloco-adicionarBuscar {
    background-color: rgb(231, 231, 233, .7);
    border-radius: 48px 48px 0 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    margin-bottom: 2.5%;
    padding: 5% 0 .75%;
    width: 100%;
    
    &__container {
        @include alignItens-justifyContent(center, flex-start);
        @include display-flexDirection(flex, row);
        margin-bottom: 2.5%;
        
        //estilo especial para a pagina de configurações do administrador:
        &.config {
            @include alignItens-justifyContent(center, space-between);
        }
        
        &___titulo {
            @include color-fontSize($cinza-escuro, 1.75rem);
            font-family: 'Fjalla One', sans-serif;
            padding-left: 5%
        }
        
        &___conteudo {
            @include color-fontSize($cinza-escuro, .75rem);
            @include fontStyle-fontWeight(italic, lighter)
        }
        
        &___output {
            @include color-fontSize($cinza-escuro, .75rem);
            @include fontStyle-fontWeight(italic, lighter);
            @include height-width(4vh, 10%);
            background-color: $branco;
            border-radius: 16px;
            margin: 0 5%;
            padding: 0.75%;
            text-align: center;
        }
    }
    
    &__linha {
        border-color: $cinza-claro;
        margin: 2% 0;
        opacity: .35;
        size: 1px;
        width: 100%
    }
    
    &__input {
        @include height-width(6.5vh, 30%);
        @include color-fontSize($cinza-escuro, .75rem);
        @include fontStyle-fontWeight(italic, lighter);
        border: none;
        border-radius: 24px;
        font-family: 'Montserrat', sans-serif;
        padding-left: 2.5%;
        margin: 1.5% 0 0 5%;
        &:focus {
            border: 1px solid $azul-escuro-fosco;
            outline: none;
        }
    }
    &___alerta-config {
        @include color-fontSize($cinza-escuro, 1rem);
        margin: 1% 0;
        text-align: left;
        width: 100%;

        & span {
            color: $vermelho-padrao;
        }
    }
    
    &__container:last-of-type{
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, flex-end);
        margin: 0 5%;
    }
    //estilo especial para a pagina de configurações do administrador:
    &__container.config:last-of-type {
        @include display-flexDirection(flex, column);
    }
}
