.botao-adicionar-novo {
    background: linear-gradient(90deg, rgba(18,18,224,1) 0%, rgba(109,225,149,1) 100%);   
    border: none;
    border-radius: 8px;
    box-shadow: 4px 10px 20px 0 rgba(10, 10, 132, .35);
    font-family: 'Montserrat', sans-serif;
    @include color-fontSize($branco, .75rem);
    @include height-width(6vh, 35%);
}