.botao-salvar {
    @include height-width(8vh, 100%);
    @include color-fontSize($branco-bg, 1.25rem);
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, rgba(18,18,224,1) 0%, rgba(109,225,149,1) 100%);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 4px 10px 20px 0px rgba(18, 18, 224,.35);
}

.botao-salvar.config {
    margin-top: 6.5%;
}