.circle-1 {
    @extend %displayFlex-alignCenter-justifyCenter; 
    @include height-width(24vh, 11vw);
    border: 1px solid rgba(120, 120, 135, .8);
    border-radius: 50%; 
}

.circle-2 {
    @extend %displayFlex-alignCenter-justifyCenter;
    @include height-width(29vh, 14vw);
    border: 1px solid rgba(120, 120, 135, .6);
    border-radius: 50%;
}

.circle-3 {
    @extend %displayFlex-alignCenter-justifyCenter;
    @include height-width(34vh, 17vw);
    border: 1px solid rgba(120, 120, 135, .4);
    border-radius: 50%;
}

.circle-4 {
    @extend %displayFlex-alignCenter-justifyCenter; 
    @include height-width(39vh, 20vw);
    border: 1px solid rgba(120, 120, 135, .2);
    border-radius: 50%;
    position: absolute;
        top: 75px;
        left: -5px;
}