.modal-excluir-container {
    background-color: rgba(0,0,0,.5);
    @include height-width(100vh, 100vw);
    //display esta em none por default
    @include display-flexDirection(none, row);
    @include alignItens-justifyContent(center, center);
    position: fixed;
        left: 0px;
        top: 0px;
    z-index: 10;
}
//animação para mostrar o modal
@keyframes exibe-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -80px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

//quando a classe for adicionada, o modal é exibido mudando display
.mostrar-modal {
    @include display-flexDirection(flex, row);
}

//quando o modal é exibidido, a propriedade de animação é inserida no modal
.mostrar-modal .modal-excluir {
    animation: exibe-modal .9s ease-in-out;
}

.modal-excluir-containerBotao {
    width: 80%;
    @include display-flexDirection(flex, row);
    @include alignItens-justifyContent(center, space-between);
}
.modal-excluir {
    position: relative;
    background-color: $cinza-claro;
    border-radius: 16px;
    @include display-flexDirection(flex, column);
    @include alignItens-justifyContent(center, center);
    @include height-width(60%, 40%);    

    &__titulo {
        font-family: 'Fjalla One', sans-serif;
        @include color-fontSize($cinza-escuro, 1.25rem);
        margin-bottom: 15%;
    }
    
}

.botao-adicionar-novo.sim, .botao-cancelar.nao {
    margin-left: 0;
    @include height-width(6vh, 45%);
}
