
.header {
    @include display-flexDirection(flex, column);
    @include height-width(100%, 100%);
    background-color: $cinza-claro;
    box-shadow: 4px 0px 20px 0px rgba(0,0,0,.25);
    padding: 3.5% 0 0;

    //----------------------------------------------->
    @include mobile {
        box-shadow: 0 4px 50px 0 rgba(0,0,0,.15);
        margin-bottom: 12.5%;
    }

    &__container {
        display: flex;
        justify-content: center;
    }

    &__container-info {
        width: 100%;

        &___title {
            @include color-fontSize($cinza-escuro, 75%);
            @include fontStyle-fontWeight(italic, 300);
            @extend %lato;
            text-align: center;

            //----------------------------------------->
            @include mobile {
                padding-left: 5%;
                text-align: left;
            }
        }
    }

    &__img {
        box-shadow: 4px 4px 50px 0px rgba(0,0,0,.5);
        clip-path: circle();
        margin: 0 6% 0 5%;
        width: 7.5%;

        //-------------------------------------------->
        @include mobile {
            filter: drop-shadow(14px 14px 50px rgba(0,0,0,.5));
            width: 15%;
            max-width: 65px;
        }
    }

    &__menu {
        @include display-flexDirection(flex, column); 

        //-------------------------------------------->
        @include mobile {
            @include alignItens-justifyContent(flex-end, null);
            @include display-flexDirection(flex, row);
            @include height-width(25vh, 100%);
            border: none;
            overflow-x: auto;
        }   

        &___item {
            
            @include alignItens-justifyContent(center, flex-start);
            @include display-flexDirection(flex, row);
            @include height-width(10vh, 100%); 
            border-bottom: 1px solid $cinza-medio;    

            //------------------------------------------------------>
            @include mobile {
                @include alignItens-justifyContent(center, center);
                @include display-flexDirection(flex, row);
                border-bottom: none;
                margin: 0 5%;
                width: 100%;
            }
            
            &:first-child{
                border-top: 1px solid $cinza-medio;
                margin-left: 0;
                margin-top: 7.5%;

                //--------------------------------->
                @include mobile {
                    border-bottom: 1px solid $cinza-medio; //pode retirar se quiser
                    border-top: none;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    margin-top: 0;
                    position: absolute; //trocar para absolute amanha!
                        top: 5%;
                        left: 0;
                    width: 100vw;
                }
            }           
            
            &:hover {
                border-left: 4px solid $azul-escuro-fosco;
                cursor: pointer;
                
                .material-icons {
                    color: $azul-medio-brilhante;
                }
                a {
                    color: black;
                }

                //------------------------------------------>
                @include mobile {
                    border-left: none;
                }
            }
        }        

        &___nome {
            @include color-fontSize($azul-escuro-fosco, 1rem);
            @extend %lato;
            text-align: center;

            //------------------------------------------------>
            @include mobile {
                font-size: 1.125rem;
                font-style: italic;
                padding-left: 5%;
            }
        }
    }
}