.rodape{
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    @include height-width(8vh, 100%);
    background-color: rgba(196, 196, 196, .7);
    grid-column: 2 / 3;

    &__container {
        @include alignItens-justifyContent(center, flex-end);
        @include display-flexDirection(flex, row);
        @include height-width(100%, 30%);
        padding: 0 2%;

        //---------------------------------------------------------->
        @include mobile {
            @include height-width(100%, 30%);
            padding: 0;
            margin-right: 2.5%;
        }
        &:first-of-type{
            @include alignItens-justifyContent(center, flex-start);
            @include height-width(100%,50%);
            //------------------------------------------------------->
            @include mobile {
                @include height-width(100%, 70%);
            }
        }

    }
    &__info {
        @include color-fontSize($cinza-escuro, .75rem);
        @include fontStyle-fontWeight(italic, lighter);
        @extend %mont;
        margin: 0 2%;

        //---------------------------------------------------------->
        @include mobile {
            font-size: .7rem;
        }
    }
}

.caixa-exibir {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, row);
    @include height-width(4vh, 20%);
    border: none;
    background-color: $branco;
    border-radius: 16px;

    //------------------------------------------------------->
    @include mobile {
        @include height-width(2vh, 8vw);
    }
}
